<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title Fitness
    link(rel="stylesheet", href="css/main.css")
body
    header.header#about
        div.menu-off-canvas-wrapper
            a(href="").toggler.menu-icon
            nav.menu-off-canvas.menu-off-canvas--inactive
                ul.nav
                    li.nav__item: a(href="#about") About
                    li.nav__item: a(href="#how") How it works
                    li.nav__item: a(href="#services") Services
                    li.nav__item: a(href="#faq") Faq
                    li.nav__item: a(href="#contact") Contact
            div.overlay
                
        nav.menu.row
           div.header__logo.columns
               a(href="") 
                   img(src="images/logo.png", alt="")
           ul.header__menu.menu.columns.align-right
               li: a(href="#about") About
               li: a(href="#how") How it works
               li: a(href="#services") Services
               li: a(href="#faq") Faq
               li: a(href="#contact") Contact
        div.header__slogan
            h2 Fitness in a can
            p Yes you can
            
    section#how.features.features-green
        .center-wrapper
            ul.features__list.row.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="")
               li.features__item.columns.small-12.medium-6.large-3
                   img(src="images/icons/case-icon.svg", alt="")
                   h4 Resources
                   p Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client groups. Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client group
                   a(href="") Explore more
               li.features__item.columns.small-12.medium-6.large-3
                   img(src="images/icons/compass-icon.svg", alt="")
                   h4 Training & Funding
                   p Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client groups. Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client group
                   a(href="") Browse training
               li.features__item.columns.small-12.medium-6.large-3
                   img(src="images/icons/cloud-icon.svg", alt="")
                   h4 Connect
                   p Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client groups. Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client group
                   a(href="") Connect now
               li.features__item.columns.small-12.medium-6.large-3
                   img(src="images/icons/quote-icon.svg", alt="")
                   h4 Communication
                   p Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client groups. Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client group
                   a(href="") Start now
            
            article.fitness-first.row.small-collapse.wow.slideInLeft(data-wow-duration="1s" data-wow-delay="")
                div.desc.columns.large-4
                    h6 It's all about
                    h3 Fitness First
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore  magna aliqua. Ut enim ad minim veniam, quis nostrud.
                    a(href="") Read More
                img(src="images/yoga.jpg", alt="").columns.large-8
            
            article.love-body.row.collapse.wow.slideInRight(data-wow-duration="1s" data-wow-delay="")
                div.desc.columns.large-4
                    h6 Love Your
                    h3 Your Body
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore  magna aliqua. Ut enim ad minim veniam, quis nostrud.
                    a(href="") Read More
                img(src="images/apple-watch.jpg", alt="").columns.large-8
                
    
    section#services.features-orange
        .center-wrapper
            article.track-your.row.collapse.wow.fadeInDown(data-wow-duration="2s" data-wow-delay=".2s")
                article.life-style.columns.large-4.medium-6.small-12
                    img(src="images/jogging.jpg", alt="")
                    div.desc
                        h6 Love Your
                        h3 Your Body
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore  magna aliqua. Ut enim ad minim veniam, quis nostrud.
                        
                article.summer-of-fun.columns.large-8.medium-6.small-12
                    div.image                        
                    div.desc
                        h3 Summer Of Fun
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
            
            article.get-involved.row.collapse.wow.fadeInUp(data-wow-duration="2s" data-wow-delay=".2s")
                article.involved-in-yorself.columns.large-8.medium-6.small-12
                    div.image                        
                    div.desc
                        h6 Track your
                        h3 Get involved in Yourself
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                article.improve-your.columns.large-4.medium-6.small-12
                    img(src="images/eating-habits.jpg", alt="")
                    div.desc
                        h6 Improve your
                        h3 Eating Habits
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore  magna aliqua. Ut enim ad minim veniam, quis nostrud.
                        
                
     section#faq.banner.wow.fadeIn(data-wow-duration="1s" data-wow-delay="")
         .center-wrapper
             h2.banner__title We launch leades with big ideas
             p.banner__slogan Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore  magna aliqua. Ut enim ad minim veniam, quis nostrud.
             
    footer.footer#contact
        .center-wrapper.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="")
            .row
                article.resources.columns.large-4.medium-6.small-12
                    h5 Resources
                    p Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client groups. work-in-progress by dragging images into projects and sharable client group
                article.about-us.columns.large-5.medium-6.small-12
                    h5 About us
                    p Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client groups. work-in-progress by dragging images into projects and sharable client group
                article.social.columns.large-3.medium-6.small-12
                    h5 Stay in touch
                    a(href="")
                    a(href="")
                    a(href="")
                    a(href="")
            .row.newsletter
                .columns.large-4.medium-3.small-0
                form(action="").columns.large-8.medium-6.small-12.row
                    input(type="text" placeholder="Your Name").columns.large-3
                    input(type="email" placeholder="Your Email").columns.large-5
                    button(type="submit").columns.large-3 Join Newsletter
                    .columns.offset-1
                .columns.medium-3.small-0
                
    script(src="js/libs.min.js")
    script(src="js/main.js")