.features-orange {
    background-color #fd634e
}
.life-style, .improve-your {
    img {
        height 330px
        width 100%
    }
    .desc {
        height 100%
        padding 50px
        background-color white
        
        h6 {
            font-size 14px
        }
        h3 {
            margin 10px 0 50px
            
        }
        p {
            font-size 14px
            color #656e74
            margin-bottom 10px
        }
        a {
            font-size 14px
            color #a2ca28
            text-decoration underline
        }
    }
}

.summer-of-fun, .involved-in-yorself {
    .image {
        height 330px
        width 100%
        background url('../images/beach.jpg') no-repeat
        background-position center
    }
    .desc {
        background-color #a2ca28
        padding 60px
        height 100%
        
        h3 {
            color white
            margin-bottom 20px
        }
        p {
            font-size 14px
        }
    }
}

.involved-in-yorself {
    .image {
        background url('../images/self-involved.jpg') no-repeat
        background-size cover
        
    }
    h6 {
        font-size 14px
    }
    .desc {
        background-color white
        h3 {
            color #a2ca28
        }
    }
    
    p {
        color black
    }
}

.improve-your {
    img {
        width 100%
    }
    .desc {
        background-color #a2ca28
        
        
    }
    h6, h3, p {
        color white
    }
}